#heder{
    background-color: #c6c6c636;
    color: white;
    border-radius: 30px;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.3);
    width: 82%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}
body{
background-color: #1b1b1b;
margin: 0px;
font-family: 'Playfair Display', serif;
}
button{
    font-family: 'Playfair Display', serif;  
}
#all-content{

    height: 90vh;
    margin: 0px;

}
#main-content{

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#grid-content{
    background-color: #f0db4f;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px;
    border: #4d4d4d solid 1--2px;
    border-radius: 30px;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.9);
    margin-top: 10px;
    aspect-ratio: 1/1;
    height: 90%;

}
.squer-content{
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding: none;
}
.square{

    padding: 20px;
    border: #1b1b1b solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;

}
.square:hover{
    background-color: #c6b439;
}
#hederAndWrapper{

    display: flex;
    justify-content: center;
    align-items:center; 
    flex-direction: column;
    width: 40%;

}
.action-btn{
    font-size: 30px;
    border-radius: 30px;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.3);
    padding: 7px 30px;
    background-color: rgb(48,60,172) ;
    color : white;
    transition: all 0.3s;
    margin-top: 7px;
    cursor: pointer;
    border-top: none;
    border-left: none;
}
.action-btn:hover{
    background-color:rgb(137,105,240);
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.3);
}